body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1{
    color: darkblue;
    text-align: center;
}

button{
    background: darkblue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.student-card{
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
}

#loading-message{
    color: darkblue;
    font-weight: bold;
}